@using System
@using ScoreboardMsSql.Controllers
@model Tuple<System.Collections.Generic.IEnumerable<HomeController.ResultItems>, int>

@{
    ViewBag.Title = DateTime.Now.Year + " Great Point Open";
}

<META HTTP-EQUIV="REFRESH" CONTENT="60">

<div id="results">
    <table>
        <thead>
            <tr>
                <th>POS.</th>
                <th>Name</th>
                <th>LOW</th>
                <th>MID</th>
                <th>HIGH</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        <tbody>
            @foreach (HomeController.ResultItems row in Model.Item1)
            {
                <tr>
                    <td>@row.pos</td>
                    <td>@row.name</td>
                    <td>@row.low</td>
                    <td>@row.mid</td>
                    <td>@row.high</td>
                    <td>@row.total</td>
                </tr>
            }         
        </tbody>
    </table>
    <div id="totals">
        <h2>Total Points Caught: @Model.Item2</h2>
        <p>Thank you to everyone who participated. Keep squashing those bugs!</p>
    </div><!--End totals div -->
</div>