@using System
@using System.Collections.Generic
@using ScoreboardMsSql.Controllers
@model Tuple<IEnumerable<HomeController.ResultItems>, int>

@{
    var months = new Dictionary<int, string>
    {
        {1, "January"},
        {2, "February"},
        {3, "March"},
        {4, "April"},
        {5, "May"},
        {6, "June"},
        {7, "July"},
        {8, "August"},
        {9, "September"},
        {10, "October"},
        {11, "November"},
        {12, "December"}
    };
    ViewBag.Title = DateTime.Now.Year + " Great Bug Open: " + months[DateTime.Now.Month];
}

<!-- Meta within Meta is bad. -->
<meta http-equiv="REFRESH" content="60" />

<div id="results">
    <table>
        <thead>
            <tr>
                <th class="display-label">POS.</th>
                <th class="display-label">Name</th>
                <th class="display-label">LOW</th>
                <th class="display-label">MID</th>
                <th class="display-label">HIGH</th>
                <th class="display-label">TOTAL</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var row in Model.Item1)
            {
                <tr>
                    <td class="display-field">@row.Pos</td>
                    <td class="display-field">@row.Name</td>
                    <td class="display-field">@row.Low</td>
                    <td class="display-field">@row.Mid</td>
                    <td class="display-field">@row.High</td>
                    <td class="display-field">@row.Total</td>
                </tr>
            }         
        </tbody>
    </table>
    <div id="totals">
        <h2>Total Points Caught: @Model.Item2</h2>
        <p>Thank you to everyone who participated. Keep squashing those bugs!</p>
    </div><!--End totals div -->
</div>