@model ScoreboardMsSql.Models.Scoreboard.ScoreboardAwards

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>ScoreboardAwards</legend>

    <div class="display-label">Time of Award</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AwardTime)
    </div>
    
    <div class="display-label">User</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AwardUser.Name)
    </div>
    
    <div class="display-label">Bug Description</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AwardBug.Description)
    </div>

    <div class="display-label">Awarded Points</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AwardBug.Points)
    </div>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
