@using ScoreboardMsSql.Models.Scoreboard
@model System.Collections.Generic.IEnumerable<ScoreboardAwards>

@{
    ViewBag.Title = "Award Admin Index";
}

<h2>@ViewBag.Title</h2>
<hr/>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<br/>
<table class="admin">
    <tr>
        <th>
            Award Time
        </th>
        <th>
            User
        </th>
        <th>
            Point Description
        </th>
        <th>
            Awarded Points
        </th>
        <th>
            Options
        </th>
    </tr>

    @foreach (ScoreboardAwards item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AwardTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AwardUser.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AwardPoint.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AwardPoint.Points)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = item.Id}) |
                @Html.ActionLink("Details", "Details", new {id = item.Id}) |
                @Html.ActionLink("Delete", "Delete", new {id = item.Id})
            </td>
        </tr>
    }

</table>